<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212121;
}

.home-container {
    height: 60vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border-radius: 10px;
}
    </style>
</head>
<body>
    <div class="home-container">
        <h1>Home</h1>
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
    </div>
</body>
</html>